*{padding:0; margin:0; font-family: 'Times New Roman', Times, serif;}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  background-image: linear-gradient(to right bottom, #fd7171, #e06363, #be4747, #962c2c, #a55050);;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 5vh;
  background-image: linear-gradient(to bottom, #ffffff, #ececec, #d9d9d9, #c7c7c7, #b5b5b5);
  border-style: solid;
  border-radius: 5vh;
}

.component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 0vh;
}

.component h2{
  padding: 2vh;
}

.component input{
  border-style: solid;
  padding:0.6vh;
  border-radius: 3vh;
}

.component button{
  border-style: solid;
  padding:0.6vh;
  border-radius: 2vh;
  background-color: #dd8d8d;
}
/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/